html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
body{
  height: 2000px;
}
a{
  text-decoration: none;
}

.addTask-button {
  padding: 0;
  margin: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
}
.add-div {
  position: relative;
}
.add-div-content {
  display: none;
  position: absolute;
  background-color: ligthgrey;
}

h1{
  color: white;
}
.nav-bar{
  height: 65px;
  width: 100%;
  background-color: #E9E581;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-size: 55px;
}
.main-content {
  width: 100%;
  height: 100%;
  background-color:#2B2B2B;
}
.todo-list {
  background-color: #2b406e;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  background-color: lightgrey;
}

.content {
  display: flex;
}
.todo-index {
  width: 70%;
}

.subtasks-ul {
    color: white;
    margin-top: 40px;
}
.title-div {
  display: flex;
}

.fa {
  color: #E9E581;
}
.fa-github {
  color: black;
}
.fa-briefcase {
  color: black;
}

.intro-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.9);
}
.fa-play {
  color: black;
}
.intro-content {
  color: #E9E581;
  font-family: sans-serif;
  font-size: 20px;
  background: #2b406e;
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  width: 70%;
}
.title {
  margin: auto;
}
.play-button {
  margin-left: auto;
  color: black;
  width: 7%;
}
